body {
  background-color: rgb(43, 72, 87);
  color: #fff;
  width: 100%;
  height: 100%;
}

header h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container img {
  width: 200px;
  height: 200px;
}

.container img:hover {
  transition: 0.5s;
  transform: scale(1.5);
}
