body {
  background-color: #001011;
  color: #98ce00;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

header h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container img:hover {
  transition: 0.5s;
  transform: scale(1.3);
}

.results-container {
  height: 200px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections,
.results {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: dashed;
}
